<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>管理员角色管理</title>
    <link style="text/css" rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" />
    <script style="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
    <style>
      body{padding: 10px;}
      .header .layui-btn-sm{margin-left: 2%;}
      /* .header span{background-color: #009688; color: #fff; margin-left: 2%; padding: 10px;} */
      .header div{border-bottom: 2px solid #009688; margin-top: 15px;}
      .layui-btn-primary{float: right;}
    </style>
  </head>
  <body>

    <div class="header">
      <button type="button" class="layui-btn layui-btn-sm" name="button">管理员角色列表</button>
      <button type="button" class="layui-btn layui-btn-sm" name="button" onclick="add()">添加</button>

      <div></div>
    </div>
    <form class="layui-form">

      <table class="layui-table">
        <thead>
          <td>ID</td>
          <td>角色名称</td>
          <td>操作</td>
        </thead>
        <tbody>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.typename}</td>
            <td>
              <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" name="button" onclick="edit({$vo.id})">编辑</button>
              <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" name="button" onclick="del({$vo.id})">删除</button>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>


    <script>
    layui.use(['layer','form'],function(){
      $ = layui.jquery;
      layer = layui.layer;
      form = layui.form;
    });
    // //添加管理员角色
    function add()
    {
      window.location.href = "/public/admin/Roes/add";
      // layer.open({
      //   type: 2,
      //   title: '添加角色',
      //   shade: 0.3,
      //   area: ['60%','520px'],
      //   content: '/public/admin.php/admin/Roes/add' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
      // });
    }
    // //添加管理员角色
    function edit(id)
    {
        window.location.href = "/public/admin/Roes/edit?id="+id;
      // layer.open({
      //   type: 2,
      //   title: '编辑角色',
      //   shade: 0.3,
      //   area: ['60%','520px'],
      //   content: '/public/admin.php/admin/Roes/edit?id='+id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
      // });
    }
    //删除
    function del(id)
    {
      layer.confirm('确认要删除吗？', function(index){
        $.post('/public/admin/Roes/del?id='+id,function(res){
          if(res.status == 0)
          {
            layer.alert(res.msg,{icon:2});
            reloadImg();
          }else{
            layer.msg(res.msg);
            setTimeout(function(){window.location.reload();},1000)
          }
        },'json')
        layer.close(index);
      });
    }



    </script>

  </body>
</html>
