<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>管理员登陆</title>
    <link style="text/css" rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" />
    <script style="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
  </head>
  <body style="background:#009688">
    <div style="position:absolute; left:50%; top:50%; width:500px; margin-left:-250px; margin-top:-250px;">
      <div style="background:#fff; padding:20px; border-radius:4px; box-shadow:5px 5px 20px #444;">
          <div class="layui-form">
            <div class="layui-form-item" style="color:grey;">
              <h1>管理员登陆</h1>
            </div>
            <hr/>
            <div class="layui-form-item">
              <label class="layui-form-label">用户名：</label>
              <div class="layui-input-block">
                <input type="text" class="layui-input" id="name" name="name" value="">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
              <div class="layui-input-block">
                <input type="password" class="layui-input" id="password" name="password" value="">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">验证码：</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" name="verifycode" id="verifycode" value="">
              </div>
              <img src="{:captcha_src()}" id="img" onclick="reloadImg()" />
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
              <button class="layui-btn" onclick="dologin()">登录</button>
              </div>
            </div>

          </div>
      </div>
    </div>
    <script type="text/javascript">
    layui.use(['layer'],function(){
      $ = layui.jquery;
      layer = layui.layer;

      //用户名获取焦点
      $("#name").focus();

      $('input').keydown(function(e){
        if(e.keyCode == 13){
          dologin();
        }
      })
    });
    // 重新生成验证码
    function reloadImg(){
      $('#img').attr('src','{:captcha_src()}?rand='+Math.random());
    }
      //登陆验证
      function dologin(){
        var name=$.trim($('#name').val());
        var pwd = $.trim($('#password').val());
        var verifycode = $.trim($('#verifycode').val());

        if(name == ''){
          layer.alert("请输入用户名",{icom:2});
          reloadImg();
          return;
        }
        if(pwd == ''){
          layer.alert("请输入用户密码",{icom:2});
          reloadImg();
          return;
        }
        if(verifycode == ''){
          layer.alert("请输入验证码",{icom:2});
          reloadImg();
          return;
        }
        $.post('/public/admin.php/admin/User/checklogin',{'username':name,'password':pwd,'verifycode':verifycode},function(res){

          if(res.status == 0)
          {
            layer.alert(res.msg,{icon:2});
            reloadImg();
          }else{
            layer.msg(res.msg);
            setTimeout(function(){window.location.href="/public/admin.php/admin/Home/index"},1000)
          }

        },'json');

      }
    </script>
  </body>
</html>
