<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>标签管理</title>
    <link style="text/css" rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" />
    <script style="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
    <style>
      body{padding: 10px;}
      .header .layui-btn-sm{margin-left: 2%;}
      /* .header span{background-color: #009688; color: #fff; margin-left: 2%; padding: 10px;} */
      .header div{border-bottom: 2px solid #009688; margin-top: 15px;}
      .layui-btn-primary{float: right;}
    </style>
  </head>
  <body>

    <div class="header">
      <button type="button" class="layui-btn layui-btn-sm" name="button">标签列表</button>
      <div></div>
    </div>
    <form class="layui-form">

      <table class="layui-table">
        <thead>
          <td>ID</td>
          <td>标签名称</td>
          <td>排序</td>
          <td>是否禁用</td>

        </thead>
        <tbody>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td><input type="text" class="layui-input" name="menunames[{$vo.id}]" value="{$vo.title}" /></td>
            <td><input type="text" class="layui-input" name="orders[{$vo.id}]" value="{$vo.sort_id}" /></td>
            <td><input type="checkbox" lay-skin="primary" title="禁用" name="status[{$vo.id}]" {$vo.status == 1 ? "checked" : ''} value="1" ></td>
            <td><input type="hidden" name="mids[{$vo.id}]" value="{$mid}"></td>
          </tr>
          {/volist}
          <tr>
            <td></td>
            <td><input type="text" class="layui-input" name="menunames[0]" value="" /></td>
            <td><input type="text" class="layui-input" name="orders[0]" value="" /></td>
            <td><input type="checkbox" lay-skin="primary" title="禁用" name="status[0]" value="1" ></td>
            <td><input type="hidden" name="mids[0]" value="{$mid}"></td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" name="flag" value="pindao">
    </form>
    <button type="button" class="layui-btn" onclick="save()" name="button">保存</button>
    <script>
    layui.use(['layer','form'],function(){
      $ = layui.jquery;
      layer = layui.layer;
      form = layui.form;
    });
      function save()
      {
        $.post('/public/admin/Flag/save',$('form').serialize(),function(res){
          if(res.status == 0)
          {
            layer.alert(res.msg,{icon:2});
            reloadImg();
          }else{
            layer.msg(res.msg);
            setTimeout(function(){window.location.reload();},1000)
          }
        },'json')
      }


    </script>

  </body>
</html>
