<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>单页添加</title>
    <link style="text/css" rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css" />
    <script style="text/javascript" src="__STATIC__/admin/layui/layui.js"></script>
    <style media="screen">
      body{padding: 10px}
    </style>
    <style>
      .header .layui-btn-sm{margin-left: 2%;}
      .layui-form {margin: auto; width: 95%;}
      .layui-from-btn {margin: auto; width: 95%;}
      /* .header span{background-color: #009688; color: #fff; margin-left: 2%; padding: 10px;} */
      .header div{border-bottom: 2px solid #009688; margin-top: 15px; margin-bottom: 15px;}
      .layui-upload-img { width: 90px; height: 90px; margin: 0; }
      .layui-input-inline {width: 50%}
      .pic-more { width:100%; left; margin: 10px 0px 0px 0px;}
      .pic-more li { width:90px; float: left; margin-right: 5px;}
      .pic-more li .layui-input { display: initial; }
      .pic-more li a { position: absolute; top: 0; display: block; }
      .pic-more li a i { font-size: 24px; background-color: #008800; }
      #slide-pc-priview .item_img img{ width: 90px; height: 90px;}
      #slide-pc-priview li{position: relative;}
      #slide-pc-priview li .operate{ color: #000; display: none;}
      #slide-pc-priview li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
      #slide-pc-priview li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
      #slide-pc-priview li .close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
      #slide-pc-priview li:hover .operate{ display: block;}
      </style>
  </head>
  <body>

    <div class="header">
      <button type="button" class="layui-btn layui-btn-sm" name="button" onclick="list('{$mid}')">文章列表</button>
      <button type="button" class="layui-btn layui-btn-sm" name="button" >添加文章</button>
      <!-- <button type="button" class="layui-btn layui-btn-sm" name="button">撤回删除</button> -->
      <div></div>
    </div>
    <form class="layui-form">
      <div class="layui-form-item">
        <label class="layui-form-label">标题：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="title" value="">
        </div>
        <label class="layui-form-label">英文标题：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="entitle" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">发布人：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="actor" value="">
        </div>
        <label class="layui-form-label">&nbsp;</label>
        <div class="layui-input-inline">
          <button type="button" onclick="return false;" class="layui-btn layui-btn-sm" id="img_upload">
            <i class="layui-icon">&#xe67c;</i>上传图片
          </button>
          <img src="" id="img" style="height:30px;" />
          <input type="hidden" name="imgurl" id="imgurl" value="" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">电话：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="telphone" value="">
        </div>
        <label class="layui-form-label">邮箱：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="email" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">经度：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="lon" value="">
        </div>
        <label class="layui-form-label">纬度：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="lat" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">网址：</label>
        <div class="layui-input-block">
          <input type="text" class="layui-input" name="wurl" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">关键词：</label>
        <div class="layui-input-block">
          <input type="text" class="layui-input" name="keywords" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">描述：</label>
        <div class="layui-input-block">
          <input type="text" class="layui-input" name="description" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">内容：</label>
        <div class="layui-input-block">
          <textarea id="container" name="content" cols="30" rows="15" style="width:100%; margin: 0 auto;"></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-inline">
          <input type="text" class="layui-input" name="orderid" value="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
        <div class="layui-input-inline">
          <input type="checkbox" lay-skin="primary" title="禁止发布" name="status" value="1">
        </div>
        <label class="layui-form-label">是否推荐：</label>
        <div class="layui-input-inline">
          <input type="checkbox" lay-skin="primary" title="是" name="tj" value="1">
        </div>
        <label class="layui-form-label">是否手机：</label>
        <div class="layui-input-inline">
          <input type="checkbox" lay-skin="primary" title="是" name="phone" value="1">
        </div>
      </div>
      <input type="hidden" name="cid" value="{$cid}">
      <input type="hidden" name="mid" value="{$mid}">
    </form>
    <div class="layui-form-item">
      <div class="layui-input-block">
      <button class="layui-btn" onclick="save()">提交</button>
      </div>
    </div>
    <!-- 配置文件 -->
   <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
   <!-- 编辑器源码文件 -->
   <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
   <!-- 实例化编辑器 -->
   <script type="text/javascript">
       //var ue = UE.getEditor('container');
       var ue = UE.getEditor('container', {
           autoHeightEnabled:false,
           initialFrameHeight:420,
           zIndex: 100
       });
   </script>
    <script type="text/javascript">
      layui.use(['layer','form'],function(){
        form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
      });
      function list(mid)
      {
        alert(mid);
        window.location.href = "/public/admin/about/index?mid="+mid+"&cid="+{$cid};
      }
      function save()
      {
        var title = $.trim($('input[name="title"]').val());
        var mid = $('input[name="mid"]').val();
        if(title == ''){
          layer.alert("请输入文章标题",{icom:2});
          return;
        }

        $.post('/public/admin/about/saveadd',$('form').serialize(),function(res){

          if(res.status == 0)
          {
            layer.alert(res.msg,{icon:2});
          }else{
            layer.msg(res.msg);
            setTimeout(function(){window.location.href = "/public/admin/about/index?mid="+mid+"&cid="+{$cid};},1000)
          }
        },'json')
      }

    </script>
    <script>

    //上传图片
        layui.use('upload', function(){
          var upload = layui.upload;
          var  $ = layui.jquery;
          //执行实例
          var uploadInst = upload.render({
            elem: '#img_upload' //绑定元素
            ,url: '/public/admin/Upload/img' //上传接口
            ,accept: 'file'
            ,done: function(res){
              if(res.status == 0)
              {
                layer.alert(res.msg,{icon:2});
              }else{
                $("#img").attr('src',res.msg);
                $("#imgurl").val(res.msg);
              }
            }
            ,error: function(){
              //请求异常回调
            }
          });
          upload.render({
            elem: '#video_upload' //绑定元素
            ,url: '/public/admin/Upload/video' //上传接口
            ,accept: 'file'
            ,done: function(res){
              if(res.status == 0)
              {
                layer.alert(res.msg,{icon:2});
              }else{
                $("#video").attr('src',res.msg);
                $("#videourl").val(res.msg);
                $("#play").css("display","block");
              }
            }
            ,error: function(){
              //请求异常回调
            }
          });

          //多图上传  前端样式
          upload.render({
           elem: '#slide-pc',
           url: '/public/admin/Upload/img',
           size: 500,
           exts: 'jpg|png|jpeg',
           multiple: true,
           before: function(obj) {
               layer.msg('图片上传中...', {
                      icon: 16,
                      shade: 0.01,
                      time: 0
                  })
           },
           done: function(res) {
              layer.close(layer.msg());//关闭上传提示窗口
               if(res.status == 0) {
                   return layer.msg(res.message);
               }
               //$('#slide-pc-priview').append('<input type="hidden" name="pc_src[]" value="' + res.filepath + '" />');
               $('#slide-pc-priview').append('<li class="item_img"><div class="operate"><i class="toleft layui-icon"></i><i class="toright layui-icon"></i><i  class="close layui-icon"></i></div><img src="' + res.msg + '" class="img" ><input type="hidden" name="pc_src[]" value="' + res.msg + '" /></li>');
           }
       });

      //点击多图上传的X,删除当前的图片
      $("body").on("click",".close",function(){
          $(this).closest("li").remove();
        });
       //多图上传点击<>左右移动图片
        $("body").on("click",".pic-more ul li .toleft",function(){
          var li_index=$(this).closest("li").index();
          if(li_index>=1){
            $(this).closest("li").insertBefore($(this).closest("ul").find("li").eq(Number(li_index)-1));
          }
        });
        $("body").on("click",".pic-more ul li .toright",function(){
          var li_index=$(this).closest("li").index();
          $(this).closest("li").insertAfter($(this).closest("ul").find("li").eq(Number(li_index)+1));
        });
        // 多图上传结束
      });
    </script>
  </body>
</html>
